<%- include('partials/head') -%>
<%- include('partials/navbar', { active: "aggPiatto" }); -%>

  <body class="corpo">

	<main>

        <h3 class="hspace_mc">&nbsp;</h3>

		<% if (errors.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<% if (Array.isArray(errors)) { %>
					<% errors.forEach((error) => { %>
						<p> <%= error.msg %> </p>
					<% }); %>
				<% } else { %>
					<p> <%= errors %> </p>
				<% } %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		<% } %>

		<h3 class="hspace h_btm_spec" id="fond"><cite title="Source Title">Inserisci un nuovo piatto</cite></h3>

        <!-- AGGIUNTA DI UN PIATTO (Funzionalità esclusiva dell'admin) -->
        <div class="container">
			<div class="form-group">
				<div class="col-md-6 mx-auto">

					<form encType="multipart/form-data" class="row g-3 needs-validation" id="formAggPiatto" action="aggPiatto" method="POST"> <!-- Lasciare encType="multipart/form-data" se c'è immagine -->
							
						<!-- NOME -->
						<div>
							<label for="nome" class="form-label">Nome*</label>
							<input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci Nome" required>
							<span class="text-danger" id="validazione-nome"></span>
						</div>

						<!-- PREZZO -->
						<div>
							<label for="prezzo" class="form-label">Prezzo*</label>
							<input type="number" class="form-control" id="prezzo" name="prezzo" min="1" step="0.50" placeholder="Inserisci Prezzo" required>
							<span class="text-danger" id="validazione-prezzo"></span>
						</div>

                        <!-- INGREDIENTI -->
						<div>
							<label for="ingredienti" class="form-label">Ingredienti*</label>
							<input type="text" class="form-control" maxlength="280" id="ingredienti" name="ingredienti" placeholder="Inserisci Ingredienti" required>
							<span class="text-danger" id="validazione-ingredienti"></span>
						</div>

                        <!-- FOTO PIATTO -->
                        <div>
							<label for="imgPiatto" class="form-label">Carica una foto del piatto (.jpg, .jpeg, .png)*</label>
							<br>
							<input type="file" class="form-control" name="imgPiatto" accept=".jpg, .jpeg, .png" id="imgPiatto" required>
							<span class="text-danger" id="validazione-imgPiatto"></span>
                        </div>
							
						<div class="col-12">
							<button class="btn btn-lg aggiungipiatto_btn" id="signup-btn-aggiungipiatto">Aggiungi</button>
						</div>

					</form>
				</div>
			</div>
		</div>

		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>

<%- include('partials/footer'); -%>     