<%- include('partials/head', { active: "home" }); -%>
<%- include('partials/navbar'); -%>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top menu_normale" id="menu_uniforme"></nav>

  <!-- CONTENUTO PRINCIPALE -->
  <main>

		<!-- REGISTRAZIONE DI UN UTENTE (cliente) -->
		<h3 class="hspace_mc">&nbsp;</h3>

		<% if (errors.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<% if (Array.isArray(errors)) { %>
					<% errors.forEach((error) => { %>
						<p> <%= error.msg %> </p>
					<% }); %>
				<% } else { %>
					<p> <%= errors %> </p>
				<% } %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		<% } %>

		<h3 class="hspace h_btm_spec"> <cite title="Source Title">Diventa nostro cliente!</cite> </h3>
		
		<div class="container">

			<div class="row">

				<form class="row g-3 needs-validation" id="formRegistrazione" action="/regCliente" method="POST">
				
					<!-- NOME -->
					<div class="col-md-4">
						<label for="nome" class="form-label">Nome*</label>
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci Nome" required>
						<span class="text-danger" id="validazione-nome"></span>
					</div>

					<!-- COGNOME -->
					<div class="col-md-4">
						<label for="cognome" class="form-label">Cognome*</label>
						<input type="text" class="form-control" id="cognome" name="cognome" placeholder="Inserisci Cognome" required>
						<span class="text-danger" id="validazione-cognome"></span>
					</div>

					<!-- EMAIL -->
					<div class="col-md-4">
						<label for="email" class="form-label">Email*</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Inserisci Email" required>
						<span class="text-danger" id="validazione-email"></span>
					</div>	

					<!-- TELEFONO -->
					<div class="col-md-4">
						<label for="telefono" class="form-label">Telefono*</label>
						<input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Inserisci Numero di Telefono" required>
						<span class="text-danger" id="validazione-telefono"></span>
					</div>

					<!-- PASSWORD -->
					<div class="col-md-4">
						<label for="password" class="form-label">Password*</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Inserisci Password" required>
						<span class="text-danger" id="validazione-password"></span>
					</div>

					<!-- Nascosto, TIPO_UTENTE (CLIENTE-0) -->
					<div class="col-md-4">
						<input type="number" id="tipo_utente" value="0" class="form-control" hidden>
					</div>

					<!-- TERMINI e CONDIZIONI & SUBMIT FORM-->
					<div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="invalidCheck" name="invalidCheck" required>
							<span class="text-danger" id="validazione-invalidCheck"></span>
                            <label class="form-check-label" for="invalidCheck">
                            <a href="pdf/GDPR.pdf" id="termcondiz" style="color: black;" target="_blank">Termini &amp; Condizioni</a>
                            - Accettazione consenso sui dati GDPR della privacy
                            </label>
							<!--
							<div class="invalid-feedback">
								<br>
								<p style="text-align:center">Non hai spuntato la checkbox della privacy</p>
							</div>
							-->
                        </div>
                        </div>
					<div class="col-12">
                        <button class="btn btn-lg registrati_btn" id="signup-btn-utente">Registrati</button>
					</div>

				</form>
			</div>
		
		</div>
		
		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>
<%- include('partials/footer'); -%>