<%- include('partials/head') -%>
<%- include('partials/navbar', { active: "vediOrdini" }); -%>

<body>
        
	<main>

		<div class="container">

			<h3 class="spaziaturaTitolo" id="fond"><cite title="Source Title">I nostri ordini</cite></h3>

			<% if (message.length > 0) { %>
				<div class="alert alert-warning alert-dismissible fade show alertResizing" align="center" role="alert">
					<p>
						<%= message %>
					</p>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			<% } %>

		<br>

		<h5><cite title="Source Title">Vedrai tutti gli ordini della clientela</cite></h5>

			<hr />
		
				<div class="row">
                    
						<br>

						<% if (typeof ordini !== "undefined" && ordini.length > 0) { %>

						<table class="table text-center shadow-lg">
							<thead>
								<tr class="table-primary">
									<th>
										Id
									</th>
									<th>
										Email
									</th>
									<th>
										Info
									</th>
									<th>
										Telefono
									</th>
									<th>
										Data
									</th>
									<th>
										Ora
									</th>
									<th>
										Stato
									</th>
									<th>
										Totale
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Id presente solo nel DB al momento -->
								<% ordini.forEach((ordine) => { %>
									<tr>
										<td><strong><%= ordine.id %></strong></td>
										<td><%= utente.email %></td>
										<td><%= ordine.info %></td>
										<td><%= ordine.telefono %></td>
										<td><%= ordine.data %></td>
										<td><%= ordine.ora %></td>
										<td><%= ordine.stato%></td>				
										<td><strong><%= ordine.totale %>€</strong></td>
									</tr>
								<% }); %>
							</tbody>
						</table>
					
						<% } else { %>
							<div class="alert alert-secondary" role="alert">
								Non hai ancora ricevuto ordini.
							</div>
						<% } %>
						
				</div>
		</div>

	</main>
<%- include('partials/footer'); -%>     